{% extends 'base.html.twig' %}

{% block title %}Tous les produits - Maison3i{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-16">
  <h1 class="text-4xl bold mb-12 text-center tracking-tight uppercase">
    {% if selectedCategory %}
      {{ selectedCategory.name }}
    {% else %}
      Tous les produits
    {% endif %}
  </h1>


  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
    {% for product in products %}
      <a href="{{ path('app_product_show', { id: product.id }) }}"
         class="relative group overflow-hidden block  hover:shadow-xl transition duration-300" 
         data-aos="fade-up">
        <!-- Carousel -->
        <div id="carousel-{{ product.id }}" class="relative w-full h-[500px]" data-carousel="slide" data-carousel-interval="6000">
          <div class="relative w-full h-full overflow-hidden">
            {% for image in product.images %}
              {% if loop.index <= 5 %}
                <div class=" hidden duration-700 ease-in-out"
                     data-carousel-item
                     {% if loop.first %}class="block"{% endif %}>
                  <img src="{{ asset('image/' ~ image.url) }}" alt="{{ image.alt }}"
                       class="pe-[1px] absolute w-full h-full object-cover top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:scale-105 transition duration-500">
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <!-- Overlay hover -->
          <div class="absolute inset-0 bg-black/40 opacity-0 group-hover:opacity-100 transition duration-300 flex items-center justify-center z-30">
            <span class="text-white text-lg font-semibold border border-white px-4 py-2 rounde hover:bg-white/20 transition">
              Voir le produit
            </span>
          </div>

          <!-- Infos produit -->
          <div class="absolute bottom-0 left-0 right-0 bg-white backdrop-blur-sm px-4 py-3 flex justify-between items-center z-20 group-hover:opacity-0 transition duration-300">
            <h2 class="text-lg font-semibold text-gray-900">{{ product.name }}</h2>
            <span class="text-gray-600">{{ product.price }} €</span>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
